<!DOCTYPE html>
<html>
<head>
{% block head %}
<title>{% block title %}{% endblock %} - IpCamPy Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/custom.min.css" />
    <link rel="stylesheet" href="/static/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
    <link rel="icon" type="image/png" href="/static/favicon.png">
{% endblock %}
</head>

<body>
{% block body %}{% endblock %}
</body>

</html>
