<!DOCTYPE html>
<html>
<head>
    <title>IpCamPy Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/custom.min.css" />
    <link rel="stylesheet" href="/static/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
</head>
<body>

<!-- Start of first page -->
<div data-role="page" id="foo">

    <div data-role="header">
        <h1>IpCamPy Dashboard</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <div class="ui-body ui-body-a ui-corner-all">
            <h3>Cams</h3>
            <ul data-role="listview" data-inset="true">
                {% if cams is iterable %}
        {% for cam in cams %}<li><a href="#cam-{{loop.index}}">
            {% if cam.name %}{{cam.name}}{%endif%}
            {{cam.cam_type}} 
            {{cam.address}} 
        </a></li>{% endfor %}
                {% endif %}
            </ul>
        </div><!-- /heading-->
    </div><!-- /content -->

    <div data-role="footer">
        <h4>Page Footer</h4>
    </div><!-- /footer -->
</div><!-- /page -->

<!-- Make a page for every cam-->
{% if cams is iterable %}
{% for cam in cams %}
<div data-role="page" id="cam-{{loop.index}}">

    <div data-role="header" data-position="fixed">
        <a href="/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
        <h1>
            Cam
            {% if cam.name %}{{cam.name}}{%endif%}
            {% if cam.address %}{{cam.address}}{%endif%}
    </h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        {% if cam.get_type() == "foscam" %}
        <div data-role="collapsible">
            <h4>Live stream</h4>
	    <img src="{{cam.get_stream_url()}}">
        </div>
        {%endif%}
        <div data-role="collapsible">
            <h4>Detailed status</h4>
            {% if cam.status() is iterable %}
            <ul data-role="listview">
            {% for key, value in cam.status().items() %}
            <li><b>{{ key|e }}:</b> {{ value|e }}</li>
            {%endfor%}
            </ul>
            {%endif%}
        </div>
    </div><!-- /content -->

    <div data-role="footer">
        <h4>Page Footer</h4>
    </div><!-- /footer -->
</div><!-- /page -->
{% endfor %}
{% endif %}
</body>

</html>
