{% extends "base.html" %}
{% block title %}Screenshot{%endblock%}
{% block body %}
<div data-role="page" id="cam">

    <div data-role="header" data-position="fixed">
        <a href="/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
        <h1>
            {% if cam.name %}{{cam.name}}
            {%else%}{{cam.address}}
	        {%endif%} screenshot
        </h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <div class="ui-body ui-body-a ui-corner-all">
            <h4>At {{hourm[:2]}}:{{hourm[2:]}}:{{screenshot[:2]}}</h4>
            <div style="text-align:center;">
            	<img src="/get-image/{{cam_index}}/{{day}}/{{hourm}}/{{screenshot}}">
	        </div>
        </div>
    </div><!-- /content -->

    <div data-role="footer">
        <h4>IpCamPy</h4>
    </div><!-- /footer -->
</div><!-- /page -->
{% endblock %}
